<head>
  <title>ZMiTACinema</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<app-navbar></app-navbar>
<div *ngIf="router.url === '/'">
<div class="container">
  <div class="jumbotron text-center">
    <h3>Please choose your cinema's location</h3>
    <div class="list-group">
      <a class="list-group-item list-group-item-action">
        <button id="first-city" class="btn btn-dark" (click)="onButtonClick($event)" value="Katowice">Katowice</button>
      </a>
      <a class="list-group-item list-group-item-action">
        <button id="second-city" class="btn btn-dark" (click)="onButtonClick($event)" value="Wadowice">Wadowice</button>
        </a>
      <a class="list-group-item list-group-item-action">
        <button id="third-city" class="btn btn-dark" (click)="onButtonClick($event)" value="Wilkowyje">Wilkowyje</button>
      </a>
      <a class="list-group-item list-group-item-action">
        <button id="fourth-city" class="btn btn-dark" (click)="onButtonClick($event)" value="Miechów">Miechów</button>
      </a>
      <a class="list-group-item list-group-item-action">
        <button id="fifth-city" class="btn btn-dark" (click)="onButtonClick($event)" value="Knyszyn">Knyszyn</button>
      </a>
    <div>
      <button type="button" class="btn btn-primary text-left" style="margin-top: 10px">Log in</button>
      <button type="button" class="btn btn-primary text-right" style="margin-left: 30px; margin-top: 10px">Cancel ticket</button>
    </div>
  </div>
  </div>
</div>
</div>

<router-outlet></router-outlet>
</body>

