<head>
  <title>ZMiTACinema</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img [src]="'/assets/logo.png'" style="max-height: 50px"></a>
  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggle-icon"></span>
  </button>
  <div class="collapse navbar-collapse" style="margin-top: 20px" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Repertoire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{localizationName}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="setLocalizationName('Katowice')">Katowice</a>
          <a class="dropdown-item" (click)="setLocalizationName('Wadowice')">Wadowice</a>
          <a class="dropdown-item" (click)="setLocalizationName('Wilkowyje')">Wilkowyje</a>
          <a class="dropdown-item" (click)="setLocalizationName('Miechów')">Miechów</a>
          <a class="dropdown-item" (click)="setLocalizationName('Knyszyn')">Knyszyn</a>
        </div>
      </li>
      <li>
        <div>
          <app-dropdown></app-dropdown>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="router.url === '/'">
<div class="container">
  <div class="jumbotron text-center">
    <h3>Please choose your cinema's location</h3>
    <div class="list-group">
      <a class="list-group-item list-group-item-action">
        <button id="first-city" class="btn btn-dark" (click)="onButtonClick($event)" value="Katowice">Katowice</button>
      </a>
      <a class="list-group-item list-group-item-action">
        <button id="second-city" class="btn btn-dark" (click)="onButtonClick($event)" value="Wadowice">Wadowice</button>
        </a>
      <a class="list-group-item list-group-item-action">
        <button id="third-city" class="btn btn-dark" (click)="onButtonClick($event)" value="Wilkowyje">Wilkowyje</button>
      </a>
      <a class="list-group-item list-group-item-action">
        <button id="fourth-city" class="btn btn-dark" (click)="onButtonClick($event)" value="Miechów">Miechów</button>
      </a>
      <a class="list-group-item list-group-item-action">
        <button id="fifth-city" class="btn btn-dark" (click)="onButtonClick($event)" value="Knyszyn">Knyszyn</button>
      </a>
    <div>
      <button type="button" class="btn btn-primary text-left" style="margin-top: 10px">Log in</button>
      <button type="button" class="btn btn-primary text-right" style="margin-left: 30px; margin-top: 10px">Cancel ticket</button>
    </div>
  </div>
  </div>
</div>
</div>

<router-outlet></router-outlet>
</body>

