<div class="form-group">
  <select class="form-control-cities" [(ngModel)]="selectedLocation">
    <option *ngFor="let location of locations" [value]="location">{{location.city}}</option>
  </select>
</div>

<div class="container">
<button class="btn-dark" (click)="showCreateScreeningRoomForm = !showCreateScreeningRoomForm">Create screening room</button>
</div>
  <div *ngIf="showCreateScreeningRoomForm" class="container">
  <div>
    <label>Enter amount of rows:</label>
    <input [(ngModel)]="createdRoom.row">
  </div>
  <div>
    <label>Enter amount of columns:</label>
    <input [(ngModel)]="createdRoom.column">
  </div>
    <div class="container">
    <button class="btn-dark" (click)="dataInputted = !dataInputted">Generate room</button>
    </div>
    <div  *ngIf="dataInputted">
    <div class="room-creator">
      <div *ngFor="let row of seats" class="seat-row">
        <div *ngFor="let seat of row" class="seat"
             [class.selected]="seat.selected"
             [class.unavailable]="seat.unavailable"
             (click)="selectSeat(seat)">
          {{ seat.number }}
        </div>
      </div>
    </div>
  </div>
</div>
