<html>
<head>
  <title>Selecting seat</title>
</head>
<body>
<div class="seat-picker">
  <div *ngFor="let row of seats" class="seat-row">
    <div *ngFor="let seat of row" class="seat"
         [class.selected]="seat.isTaken"
         (click)="selectSeat(seat)">
      {{ seat.number }}
    </div>
  </div>
</div>
<div class="col-md-12 text-center" style="margin-top: 30px">
  <button type="button" class="btn btn-dark" (click)="onButtonClick($event)" >Confirm selected seats</button>
</div>

</body>
</html>
