.seat-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.seat-row {
  display: flex;
}
.seat {
  border: 1px solid #ccc;
  background-color: #212622;
  color: #fff10b;
  width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}
.seat:hover{
  background-color: #fff10b;
  color: #212622;
  transition: all .2s ease-in-out;
}
.seat.selected {
  background-color: #fff10b;
  color: #212622;
}
.seat.isTaken{
  background-color: grey;
}
.seat.isTaken:hover{
  color: #fff10b;
}
.seat.unavailable{
  background-color: #353d36;
  border: none;
  color:  #353d36;
}
