<html lang="en">
<head>
  <title>ZMiTACinema</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="main-page-container">
  <div class="form-group text-center" style="width: 20%; margin: 0 auto;">
    <label for="daySelect">Choose Day:</label>
    <select class="form-control" id="daySelect" [(ngModel)]="selectedDay" (change)="loadScreeningsAgain()">
      <option *ngFor="let day of days" [value]="day">{{day}}</option>
    </select>
  </div>
  <br><br>
  <div class="jumbotron">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let screening of screenings">
      <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item" *ngIf="screening.film != currentFilm">{{ screening.film}}</li>
        <button type="button" class="btn btn-dark" (click)="onHourClick(screening)" >{{screening.time.toString().split("T")[1]}}</button>
      </ul>
      {{ setCurrentFilm(screening.film) }}
    </li>
  </ul>

</div>
</div>
</body>
</html>
