<html lang="en">
<head>
  <title>ZMiTACinema</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let film of films">
      <ul class="list-group list-group-horizontal-sm">
        <li class="list-group-item">{{ film.title }}</li>
        <li class="list-group-item" *ngFor="let hour of film.hours">
          <a class="btn btn-primary" (click)="onHourClick($event)" role="button">{{ hour }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
</body>
</html>
