<div class="container my-5" *ngIf="!submitted">
  <h2 class="text-center">Admin Login</h2>
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form>
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp">
          <small id="usernameHelp" class="form-text text-muted">Enter your username</small>
        </div>
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-primary btn-block" (click)="redirectToAdminPage()">Submit</button>
      </form>
    </div>
  </div>
</div>


