/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.navbar{
  height: 50px;
}
.navbar-light{
  background-color: #212622 !important;
}
body{
  background-color: #353d36 !important;
  color: #fff10b !important;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff10b !important;
}
.nav-link{
  cursor: pointer;
}
.dropdown-menu{
  background-color: #353d36 !important;
}
.dropdown-item{
  color: #fff10b !important;
}
.dropdown-item:hover{
  background-color: #212622 !important;
}
.jumbotron{
  background-color: #212622 !important;
  color: #fff10b !important;
}
.main-page-container{
  background-color: #353d36;
}
.list-group-item{
  background-color: #353d36 !important;
  color: #fff10b;
  border: none;
}
.btn-primary{
  background-color: #353d36 !important;
  color: #fff10b !important;
  border: none !important;
}
.btn-primary:hover{
  background-color: #fff10b !important;
  color: #353d36 !important;
}
.btn-primary:active{
  background-color: #fff10b !important;
  color: #353d36 !important;
}
.btn-dark{
  background-color: #212622;
  color: #fff10b;
  border: none;
}
.btn-dark:hover{
  background-color: #fff10b;
  color: #212622;
}
.form-control {
  background-color: #212622;
  border-color: #6c757d;
  color: #6c757d;
}
.form-control:focus{
  background-color: #212622;
  border-color: #6c757d;
  color: #6c757d;
}
.modal-content{
  background-color: #212622 !important;
}
